<h2><%= current_user.nickname %>'s Github </h2>

<%= image_tag current_user.avatar_url, size:"200x200" %>

<ul>
  <li>Followers: <%= link_to @github_user.lookup_followers.count, followers_path %></li>
  <li>Following:<%= link_to @github_user.lookup_following.count, following_path %></li>
<li>Starred: <%= @github_user.lookup_starred.count %></li>

  <% if @github_user.lookup_organizations == [] %>
    <%= "#{current_user.nickname} does not belong to any organization" %> 
    <% else %>
  <li>Organizations: <%= @github_user.lookup_organizations %></li>
  <% end %>
</ul>

<h4>Repositories</h4>
<% @github_user.lookup_repos.map do |repo| %>
  <%= link_to repo[:name], repo[:html_url] %> <br>
<% end %>

<h4>Recent Contribution Summary</h4>
<p><%= @github_user.lookup_events.count %> commits</p>
<ol>
<% @github_user.lookup_events.each  do | mssg|%>
  <li><%= mssg %></li>
<% end %>
</ol>
