<h2><%= current_user.name %>'s Github Page</h2>

<%= image_tag current_user.avatar_url %>

<ul>
    <li>Followers: <%= @github_user.followers_hash.count %></li>
    <li>Following:<%= @github_user.following_hash.count %></li>
    <li>Starred: <%= @github_user.starred_hash.count %></li>
</ul>

